# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment directory
#venv/

# .env file for environment variables
#.env

# Ignore log files
#*.log

# Ignore database files
#*.sqlite3
